$c-w: #fff;
$c-wb: #f7f8f9;
$c-line: #f2f2f2;
$c-gray: #ddd;
$c-9: #999;
$c-6: #666;
$c-4: #444;
$c-3: #333;
$c-2: #222;
$c-b: #000;
$c-main: #00478f;
$c-sub: #3893ee;
$c-point: #ffc000;

$clac: calc(100% - ((100% - 1170px) / 2));