.main_map {
    position: relative;

    .content {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 30px;
    }

    .map_left {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .call {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        border: 1px solid $c-line;

        span {
            display: block;
            margin: 0 0 8px 0;
            font-size: 14px;
        }

        strong {
            display: block;
            font-size: 22px;
            font-weight: 600;
            color: $c-main;
            margin: 0 0 16px 0;
        }
    }

    .location {
        li {
            &:first-child {
                margin: 0 0 8px 0;
            }
        }

        a {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 16px 24px;
            color: $c-6;
            background: $c-w;
            border: 1px solid $c-line;

            &::after {
                content: "\e409";
                font-family: "material symbols outlined";
                vertical-align: -2px;
                color: $c-main;
            }
        }
    }

    .map {
        border: 1px solid $c-line;
    }

    .desc {
        position: absolute;
        top: -70px;
        left: -22px;
        background: $c-w;
        padding: 20px 32px 15px 32px;
        border-radius: 4px;
        border: 1px solid $c-gray;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

        &::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: calc(50% + 1px);
            transform: translate(-50%, 0);
            width: 20px;
            height: 15px;
            background: $c-w;
            clip-path: polygon(0 0, 50% 100%, 100% 0);
        }

        strong {
            display: block;
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 8px 0;
            padding: 0 16px;
            text-align: center;
        }

        a {
            display: block;
            font-size: 14px;
            padding: 8px;
            text-align: center;
            background: $c-sub;
            color: $c-w;
            border-radius: 4px;
        }
    }
}


@media (max-width:768px) {
    .main_map {
        .content {
            grid-template-columns: 1fr;
            gap: 16px;
        }

        .map_left {
            display: block;
        }

        .title {
            margin: 0 0 16px 0;
        }

        .call {
            display: block;
            height: auto;
            padding: 24px;
            margin: 0 0 8px 0;

            span {
                margin: 0 0 4px 0;
            }

            strong {
                font-size: 20px;
                margin: 0 0 12px 0;
            }
        }

    }
}