.main_service {
    background: $c-wb;

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .tit {
        display: flex;
        justify-content: space-between;

        h3 {
            position: relative;
            font-size: 22px;
            font-weight: 700;
            margin: 0 0 24px 0;
            color: $c-3;

            &::before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 0 4px;
                background: $c-sub;
                opacity: 60%;
                vertical-align: 2px;
                margin: 0 8px 0 0;
            }
        }

        .more {
            span {
                font-size: 14px;
            }
        }
    }


    .sejong_service {
        padding: 32px;
        background: $c-w;
        border-radius: 8px;
        border: 1px solid $c-line;

        .serv_list {
            position: relative;
            margin: 0 0 40px 0;

            &::after {
                content: "";
                position: absolute;
                bottom: -20px;
                left: 0;
                width: 100%;
                height: 1px;
                background: $c-line;
            }

            a {
                position: relative;
                display: flex;
                justify-content: space-between;
                padding: 16px 24px;
                color: $c-6;
                background: $c-w;
                border: 1px solid $c-line;

                &::after {
                    content: "\e409";
                    font-family: "material symbols outlined";
                    vertical-align: -2px;
                    color: $c-main;
                }

            }

            li {
                &:not(:last-child) {
                    margin: 0 0 4px 0;
                }
            }
        }

        .se_employment {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;

            h4 {
                font-size: 18px;
                font-weight: 300;
                text-indent: 2px;
            }

            a {
                display: block;
                font-size: 14px;
                text-align: center;
                color: $c-main;
                padding: 8px 16px;
                border: 1px solid $c-line;
            }
        }
    }

    .sejong_smart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px;
        background: $c-w;
        border-radius: 8px;
        border: 1px solid $c-line;

        h3 {
            margin: 0 0 32px 0;
        }

        .smart_desc {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 0 56px 0;

            &::after {
                content: "";
                position: absolute;
                bottom: -32px;
                left: 0;
                width: 100%;
                height: 1px;
                background: $c-line;
            }

            span {
                display: block;
                text-align: center;
                line-height: 20px;
                margin: 0 0 24px 0;
            }

        }

        .smart_serv {
            h4 {
                font-size: 18px;
                font-weight: 300;
                margin: 0 0 12px 0;
            }
        }

        .smart_list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4px;

            a {
                display: block;
                text-align: center;
                padding: 14px 0;
                font-size: 14px;
                font-weight: 500;
                background: $c-main;
                color: $c-line;
                border-radius: 4px;
            }
        }
    }

    .sejong_newsbox {
        padding: 32px;
        background: $c-w;
        border-radius: 8px;
        border: 1px solid $c-line;

        .news_list {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;

            li {
                position: relative;

                &:not(:first-child) {
                    &::before {
                        content: "";
                        position: absolute;
                        top: -5px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: $c-line;
                    }
                }
            }

            a {
                position: relative;

                display: flex;
                text-align: center;
                font-size: 14px;
                line-height: 40px;

                &::before {
                    content: "\e15b";
                    font-family: "material symbols outlined";
                    display: inline-block;
                    font-size: 12px;
                    margin: 0 8px 0 0;
                }
            }

            p {
                display: inline-block;
                font-size: 15px;
                line-height: 40px;

                width: 150px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
            }

            strong {
                font-weight: 700;
                color: $c-sub;
                margin: 0 8px 0 0;
            }

            span {
                margin: 0 0 0 auto;
                font-size: 12px;
                color: $c-6;
            }
        }
    }
}


@media (max-width:768px) {
    .main_service {
        .content {
            grid-template-columns: repeat(1, 1fr);
            gap: 16px;
        }

        .sejong_service,
        .sejong_smart,
        .sejong_newsbox {
            padding: 28px;
        }
    }
}